* {
  font-family: 'Noto Sans', sans-serif;
}

:root {
  --primary-color: #11A9F5;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    color: var(--primary-color);
  }

  form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    input {
      border: none;
      min-width: 360px;
      font-size: 28px;
  
      &:focus {
        outline: none;
      }
    }

    button {
      border: 0;
      border-radius: 5px;
      padding: 10px 20px;
      background-color: #11A9F5;
      color: #fff;
      font-size: 20px;
    }
  }

  .result-page {
    width: 1024px;

    .tabs {
      font-size: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;
      
      div {
        padding: 5px 10px;
        cursor: pointer;
      }

      .active {
        background-color: var(--primary-color);
        border-radius: 5px;
        color: #fff;
      }
    }
    .web-result {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;

      div {
        h2 {
          font-size: 18px;
          color: var(--primary-color);
        }
        p {
          font-size: 14px;
        }
      }
    }
    .image-result {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;

      img {
        border-radius: 5px;
      }
    }
  }
}

.loading {
  font-size: 28px;
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.title {
  position: fixed;
  top: 25px;
  left: 25px;
  font-size: 28px;
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border-radius: 5px;
}